<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LibraryApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   	<welcome-file>index.jsp</welcome-file>
    <welcome-file>shopping.jsp</welcome-file>
    <welcome-file>adminindex.html</welcome-file>
    <welcome-file>adminrequestview.jsp</welcome-file>
    <welcome-file>productCategory.jsp</welcome-file>
    <welcome-file>librarian.html</welcome-file>
    <welcome-file>requestform.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>addbook.jsp</welcome-file>
    <welcome-file>home.html</welcome-file>
    <welcome-file>viewbookcategory.jsp</welcome-file>
    <welcome-file>register.html</welcome-file>
    <welcome-file>registeradmin.html</welcome-file>
    <welcome-file>loginadmin.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>